[package]
name = "gst-log-parser"
version = "0.1.0"
authors = ["Guillaume Desmottes <guillaume@desmottes.be>"]
edition = "2018"

[dependencies]
itertools = "0.7"
gstreamer = "0.12"
regex = "1.0"
lazy_static = "1.0"
structopt = "0.2"
structopt-derive = "0.2"
colored = "1.6"
failure = "0.1.5"
gnuplot = "0.0.30"
